
<div class="container" >
  <div class="row" *ngFor="let m of movie">
    <div class="col-md-4">
      <mat-card style="margin-top:50px;" class="example-card mat-elevation-z8">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{m.Title}}</mat-card-title>
          <mat-card-subtitle>Release date: {{m.Released}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{m.Poster}}" alt="{{m.Title}}">
        <mat-card-content>
          <p>
            Cast: {{m.Actors}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8 justify-content-center align-self-center">
      <mat-card class="mat-elevation-z8">
        <h1 class="mini-title">{{m.Title}}</h1>
        <p class="body">{{m.Plot}}</p>

      </mat-card>
      <mat-expansion-panel hideToggle style="margin-top:50px;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 class="mini-title">
              Let us know you opinion!
            </h2>
           </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
          <textarea type="text" formControlName="comment" class="form-control"></textarea>
          <input type="text" placeholder="your name" formControlName="author" class="form-control">
          <button class="btn btn-primary" type="submit">Submit comment</button>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle style="margin-top:50px;">
        <h2></h2>

        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 class="mini-title">
              Our user's feedback
            </h2>
           </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="group-list" *ngFor="let f of finder">
          <li class="list-group-item" >
            <span> {{f.comment}}</span>

          </li>
          <li class="list-group-item">
            by {{f.author}}
          </li>
        </ul>
      </mat-expansion-panel>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6" *ngIf="seasons>0">
        <label>Select a season</label>
        <select (change)="searchEpisode($event.target.value)"
          class="form-control">
          <option *ngFor="let s of seasonsGroup" [value]="s">{{ s }}</option>
        </select>
      </div>
    </div>
    <div class="row" *ngIf="episodes" style="margin-top:20px">
      <div class="col-md-6" *ngFor="let e of episodes; let i = index">
        <ul class="list-group">
          <li class="list-group-item">
            <strong
              >Episode {{ e.Episode }}:
              <br />
            </strong>
            <i>{{ e.Title }}</i>
            <br />
            <strong>Release date</strong>
            <br />
            {{ e.Released }}
            <br />
            <strong>IMDB Rating</strong>
            <br />
            {{ e.imdbRating }}
          </li>
        </ul>
      </div>
    </div>
    </div>

