<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="wrapper fadeInDown">
        <div id="formContent"  style="padding-top:20px" >


    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     <!--  <div class="form-group">

        <input placeholder="name" type="text" formControlName="name" class="form-control fadeIn second">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div> -->
      <div class="form-group">

        <input placeholder="email" type="text" formControlName="email" class="form-control fadeIn third">
        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">

        <input placeholder="password" type="text" formControlName="password" class="form-control fadeIn fourth">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          <div *ngIf="password.errors.required">Password is required</div>
        </div>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In">

    </form>
  </div>
  </div>
</div>
</div>
</div>
