
<!-- <input class="form-control" #query (keyup)="search(query.value)">
<button class="btn btn-primary" (click)="search(query.value)">Search</button> -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">isAdmin</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody *ngFor="let u of users">
    <tr>
      <th scope="row">{{u.id}}</th>
      <td>{{u.name}}</td>
      <td>{{u.email}}</td>
      <td>{{u.isAdmin}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(u.id)">Delete</button></td>
    </tr>
    <tr>
  </tbody>
</table>
