<div class="container-fluid bg">
  <div @fade class="angular">
    <img src="../../../assets/images/angular.png" class="img-fluid">

  </div>
  <div @fadeNode class="node">
    <img src="../../../assets/images/node.png" class="img-fluid">

  </div>

  <div class="d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <div class="col-md-12">
      <h1  class="title">_portfolio </h1>
    </div>

  </div>
</div>
</div>
<div class="container-fluid">
  <div class="row mid-top">
    <div class="col-md-12 top">
      <h1 class="mid-title text-center">Browse through </h1>
    </div>
    <div class="col-md-12 top mid-bottom">
      <h1 class="mid-title text-center">the different modules. </h1>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <a routerLink="/nasa"class="col-md-6">
      <img class="img-fluid" src="../../../assets/images/tarantula.jpg">
      <h1 class="img-letters" style="position: absolute;top:50px;">
        <span class="number">01 </span>Explore Nasa's pictures <span class="arrow"><i class="fas fa-arrow-right"></i></span></h1>

      </a>
    <div class="col-md-6">
      <h1 class="img-letters" style="position: absolute;top:500px;left:0">
        <span class="number">02 </span>Movies and series<span class="arrow"><i class="fas fa-arrow-right"></i></span></h1>
        <a routerLink="/movies">
        <img class="img-fluid" src="../../../assets/images/movies.png">
      </a>
        <div  class="col" style="margin-top:50px;margin-left:-15px;">
        <h1 class="img-letters" style="position: absolute;top:463px;left:0;color:white; font-weight: bold;">
          <span class="number">03</span> World's headlines<span class="arrow">
            <i class="fas fa-arrow-right"></i></span></h1>
            <a routerLink="/news">
        <img class="img-fluid" src="../../../assets/images/news.jpg">
              </a>
          </div>
    </div>
  </div>
</div>
<footer style="padding-bottom:40px;">
  <div class="container-fluid foot">
    <div class="row mid-top">
    <div class="col-md-12 top">
      <h1 class="mid-title text-center" style="color:white;font-weight: normal;">Stay in touch </h1>
    </div>
  </div>
  <div class="row">
     <div class="col-md-6 offset-md-3 top">
      <mat-expansion-panel hideToggle style="margin-top:50px; margin-bottom:50px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 class="mini-title text-center">
              Stay in touch, send a message!
            </h2>
           </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="newsletter" (ngSubmit)="onSubmit()">
          <textarea placeholder="your message" type="text" formControlName="message" class="form-control"></textarea>
          <div *ngIf="message.touched && message.invalid" class="alert alert-danger">
            <div *ngIf="message.errors.required">Message is required</div>
          </div>
          <input type="email" placeholder="your email" formControlName="email" class="form-control">
          <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
            <div *ngIf="email.errors.required">Email is required</div>
          </div>
          <button class="btn btn-primary" type="submit">Submit comment</button>
        </form>
      </mat-expansion-panel>
    </div>
  </div>
</div>

</footer >












