@font-face {
  font-family: title;
  src: url(../../../assets/fonts/HelveticaNowText-Bold.eot);
}
@font-face{
font-family:body;
src:url(../../../assets/fonts/HelveticaNowText-Regular.eot);
}
@font-face{
  font-family:mid-title;
  src:url(../../../assets/fonts/HelveticaNowText-Thin.eot);
  }


.angular{
  position:absolute;
  top:50%;
  left:40px;
}
.node{
  position:absolute;
  top:50%;
  left:120px;
}
.title{
  font-family: title;
  color:white;
  font-size:250px;
  margin-left:60px;

}
.newsletter{
  font-family:body;
  color:white;
  font-size:5px;
}
.body{
  font-family:body;
  color:white;
  font-size:36px;
  margin-left:60px;
}
.img-letters{
  font-family:body;
  color:white;
  font-size:50px;
  margin-left:30px;
}
.mid-title{
  font-family: mid-title;
  color:black;
  font-size:120px;
  font-weight: bold;

}
.arrow{
  float: right;
    margin-right: -84px;
}
.flash{
  font-family: title;
  font-size:250px;
  color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
}

.bg {
  /* The image used */
  background-image:url(../../../assets/images/code.png);
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6C5A56;
  background-blend-mode: multiply;
}

.top{
  margin-top:80px;
}
.img-wrapper{
  background-image:url(../../../assets/images/tarantula.jpg);
  /* Full height */
  height: 50vh;
  width:80vh;
  margin-left:20px;
  margin-top:30px;
  /* Center and scale the image nicely */
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  position:relative;
}
.movies-wrapper{
  background-image:url(../../../assets/images/movies-2.jpg);
  /* Full height */
  height: 100vh;
  width:80vh;
  margin-left:40px;
  margin-top:30px;
  /* Center and scale the image nicely */
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6C5A56;
  background-blend-mode: multiply;
  position:relative;
}

.news-wrapper{
  background-image:url(../../../assets/images/news.jpg);
  /* Full height */
  height: 100vh;
  width:80vh;
  margin-left:40px;
  margin-top:30px;
  /* Center and scale the image nicely */
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6C5A56;
  background-blend-mode: multiply;
  position:relative;
}



.img-content{
  position:absolute;
  bottom:0;
  left:0;
}
.mid-top{
  margin-top:100px;
}

.mid-bottom{
  margin-bottom:100px;
}

.foot{
  background-color:black;
  color:white;
}
#n{
  margin-left: 200px;
height: 60px;
background-color: #3d3d3d;
width:50%
}
.headlines{
  position: absolute;
top: 463px;
left: 0;
color: white;
font-weight: bold;
}
