<div class="container-fluid bg">
  <div @fade class="angular">
    <img src="../../../assets/images/angular.png" class="img-fluid">

  </div>
  <div @fadeNode class="node">
    <img src="../../../assets/images/node.png" class="img-fluid">

  </div>

  <div class="d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <div class="col-md-12">
      <h1  class="title">_portfolio </h1>
    </div>

  </div>
</div>
</div>
<div class="container-fluid">
  <div class="row mid-top">
    <div class="col-md-12 top">
      <h1 class="mid-title text-center">Browse through </h1>
    </div>
    <div class="col-md-12 top mid-bottom">
      <h1 class="mid-title text-center">the different modules. </h1>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <a routerLink="/nasa"class="col-md-6">
      <img class="img-fluid" src="../../../assets/images/tarantula.jpg">
      <h1 class="img-letters" style="position: absolute;top:50px;">
        <span class="number">01 </span>Explore Nasa's pictures <span class="arrow"><i class="fas fa-arrow-right"></i></span></h1>

      </a>
    <div class="col-md-6">
      <h1 class="img-letters" style="position: absolute;top:500px;left:0">
        <span class="number">02 </span>Movies and series<span class="arrow"><i class="fas fa-arrow-right"></i></span></h1>
        <a routerLink="/movies">
        <img class="img-fluid" src="../../../assets/images/movies.png">
      </a>
        <div  class="col" style="margin-top:50px;margin-left:-15px;">
        <h1 class="img-letters" style="position: absolute;top:463px;left:0;color:white; font-weight: bold;">
          <span class="number">03</span> World's headlines<span class="arrow">
            <i class="fas fa-arrow-right"></i></span></h1>
            <a routerLink="/news">
        <img class="img-fluid" src="../../../assets/images/news.jpg">
              </a>
          </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid foot">
    <div class="row mid-top">
    <div class="col-md-12 top">
      <h1 class="mid-title text-center" style="color:white;font-weight: normal;">Stay in touch </h1>
    </div>
  </div>
  <div class="row mid-top">
     <div class="col-md-6 offset-md-3 top">
      <form [formGroup]="newsletter" (ngSubmit)="onSubmit()">
        <input placeholder="enter your email address"id="n" class="form-control" formControlName="email">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-4 top">
      <p class="body">Subscribe for updates</p>
    </div>
  </div>
</div>

</footer>












