<div class="container-fluid bg">
  <div class="d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <div class="col-md-12">
      <h1 class="title">_portfolio </h1>
    </div>

  </div>
</div>
</div>
<div class="container-fluid">
  <div class="row mid-top">
    <div class="col-md-12 top">
      <h1 class="mid-title text-center">Browse through </h1>
    </div>
    <div class="col-md-12 top mid-bottom">
      <h1 class="mid-title text-center">the different modules. </h1>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <a class="img-wrapper " routerLink="/nasa">
      <div class="img-content">
        <h1 class="img-letters"><span class="number">01 </span>Explore Nasa's api <span class="arrow"><i class="fas fa-arrow-right"></i></span></h1>
      </div>
    </a>
    <a class="movies-wrapper" routerLink="/movies">
      <div class="img-content">
        <h1 class="img-letters"><span class="number">02 </span>Search your favorite movies <span class="arrow"><i class="fas fa-arrow-right"></i></span></h1>
      </div>
    </a>

  </div>
</div>
