<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a
        routerLink="/shop"
        [queryParams]="{category:c.name }"
        class="list-group-item list-group-item-action"
        [class.active]="category===c.name"
        *ngFor="let c of categories">
          {{c.name}}
        </a>
      </div>
    </div>
    <div class="col-md-8" *ngFor="let p of filteredProducts">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{p.imageUrl}}" alt="{{p.name}}">
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">{{p.description}}</p>
          <button (click)="addToCart(p)" class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
