.card-wrapper{
  display: inline-block;
  width:60vh;
  height:60vh;
  margin-left:20px;
  margin-top:30px;
}
.card-img {
width:60vh;
display:block;
height:45vh;
}
.gallery-container{
  width:100%;
/*   max-width:960px;
 */  margin: 0 auto;
  margin-left:20px;
  margin-right:20px;
  display:block;
}
