<div class="container">
  <div class="row ">
    <div class="col-md-6 offset-md-3"style="float:right">
    <h1 class="title ">Nasa's day picture</h1>
  </div>
    <div class="col-md-12 text-center x" *ngIf="dayPicture">
      <mat-card class="example-card mat-elevation-z8" *ngFor="let d of dayPicture">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{d.title}}</mat-card-title>
          <mat-card-subtitle>{{d.date}}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="loading" src="../../../../../assets/images//loading.gif" alt="loading" />

        <img  [hidden]="loading" (load)="onLoad()" mat-card-image src="{{d.hdurl}}" alt="{{d.title}}">
        <mat-card-content>
          <p>
            {{d.explanation}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="saveImage(d)">Save</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger text-center" role="alert">
    Sorry, image not available yet. Come back soon!
  </div>

</div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Gallery</h1>
      <app-gallery [gallery]="gallery"></app-gallery>
    </div>
  </div>


