<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="screen jumbotron">
        <h5
          *ngIf="result"
          data-test-id="result"
          name="result"
          ngDefaultControl
          [(ngModel)]="result"
          class="result-value ma-0 slide-up-fade-in"
        >
        <h1 class="title">{{ result }}</h1>
        </h5>
      </div>
      <div class="input-wrapper">
        <input
          class="form-control"
          type="number"
          [(ngModel)]="inp1"
          autocomplete="off"
          name="input1"
        />
      </div>
      <div class="input-wrapper">
        <input
          class="form-control"
          name="inp2"
          type="number"
          [(ngModel)]="inp2"
          autocomplete="off"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="button-wrapper">
        <button
          class="b btn btn-danger"
          type="submit"
          name="symbol"
          ngDefaultControl
          [(ngModel)]="symbol"
          (click)="calculation(inp1, inp2, '+')"
        >
          +
        </button>
      </div>
      <div class="button-wrapper">
        <button
          (click)="calculation(inp1, inp2, '-')"
          name="symbol"
          ngDefaultControl
          [(ngModel)]="symbol"
          class="b btn btn-danger"
        >
          <h1>-</h1>
        </button>
      </div>
      <div class="button-wrapper">
        <button
          (click)="calculation(inp1, inp2, '*')"
          name="symbol"
          ngDefaultControl
          [(ngModel)]="symbol"
          class="b btn btn-danger"
        >
          <h1>*</h1>
        </button>
      </div>
      <div class="button-wrapper">
        <button
          (click)="calculation(inp1, inp2, '/')"
          name="symbol"
          ngDefaultControl
          [(ngModel)]="symbol"
          class="b btn btn-danger"
        >
          <h1>/</h1>
        </button>
      </div>
      <div class="button-wrapper">
        <button class="b btn btn-danger" type="reset" (click)="reset()">
          C
        </button>
      </div>
    </div>
  </div>
</div>
