<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 *ngIf="total">Total is {{total}}</h1>
    </div>
    <div class="col-md-6 screen">
      <span *ngFor="let n of arrayOfNumbers"><h1>{{n}}</h1></span>
    </div>
    <div class="col-md-6 screen2">
      <span *ngFor="let n of arrayOfNumbers2"><h1>{{n}}</h1></span>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button (click)="digits(9)" class="btn btn-primary">9</button>
      </div>
      <div class="col-md-2">
        <button (click)="digits2(8)" class="btn btn-primary">8</button>
      </div>
      <div class="col-md-2">
        <button (click)="calculate('+')" class="btn btn-primary">sum</button>
        <button (click)="calculate('-')" class="btn btn-primary">subtract</button>

      </div>
    </div>
  </div>
</div>
