<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <label>Select a Country for breaking headlines</label>
      <select
        (change)="searchNewsByCountry($event.target.value)"
        class="form-control">
       <option *ngFor="let c of countries" [value]="c.code">{{ c.name }}</option>
      </select>
   </div>
   <div class="col-md-6 offset-md-3">
    <label>Search news by Source</label>
     <select
    (change)="getNewsBySource($event.target.value)"
    class="form-control">
   <option *ngFor="let c of source" [value]="c.id">{{ c.name }}</option>
  </select>
  </div>

    </div>
    <div class="row" *ngIf="newsBySource">
      <div class="col-md-4" *ngFor="let n of newsBySource">
        <h2>{{n.title}}</h2>
        <img src="{{n.urlToImage}}" class="img-fluid">
      </div>
    </div>
  <div class="row" *ngIf="breakingNews">
    <div class="col-md-4" *ngFor="let n of breakingNews">
      <h2>{{n.title}}</h2>
      <img src="{{n.urlToImage}}" class="img-fluid">
    </div>
  </div>
</div>
<!--  author: string
content:string
description: string;
publishedAt: string
source: {
  id: null,
  name: string
};
title: string;
url: string;
urlToImage: string; -->
